:host {
  display: block;
  height: 100%;

  #login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    box-shadow: 0 2px 12px 0 var(--shadowColor);
    padding: 20px;

    h2 {
      margin: 0;
      text-align: center;
    }

    .formCont {
      margin: 20px 0;
      .formItem {
        position: relative;
        margin-bottom: 20px;
        input {
          border: 1px solid var(--borderColor);
          outline: none;
          height: 20px;
        }
        .ng-valid[required], .ng-valid.required {
          border-color: var(--successColor);
        }
        
        .ng-invalid:not(form) {
          border-color: var(--dangerColor);
        }
        &:last-child {
          margin-bottom: 0;
        }
        .addButton {
          position: absolute;
          top: 2px;
          right: 1px;
          width: 20px;
          height: 20px;
          border-style: none;
        }
      }

      .alert-danger {
        position: absolute;
        font-size: 14px;
        color: var(--dangerColor)
      }

      .tip {
        color: var(--dangerColor)
      }
    }

    button {
      display: block;
      width: 100%;
    }
  }
}
