:host {
  position: relative;
  display: block;
  box-sizing: border-box;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  background-color: var(--backgroundColor);
  flex-shrink: 0;
  box-shadow: 0 4px 10px -2px var(--lightShadowColor);

  .myHeader {
    display: flex;
    justify-content: space-between;

    h1 {
      font-size: 2rem;
      line-height: 60px;
      font-weight: normal;
    }

    .accountData {
      display: flex;
      align-items: center;

      .accountDataListItem {
        display: inline-block;
        margin-right: 20px;
      }

      .accountDataListItem:last-child {
        margin-right: 0;
      }

      .accountDataListItem.circle {
        width: 40px;
        height: 40px;
        line-height: 40px;
        vertical-align: middle;
        text-align: center;
        font-size: 0.8rem;
        color: var(--reverseTextColor);
        background-color: var(--reverseBackgroundColor);
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }
}
